.custom-sort-dropdown .dropdown-toggle {
  background-color: #6b71e0;
  color: white;
  border-color: #6b71e0;
}

.custom-sort-dropdown .dropdown-menu {
  background-color: white;
  color: #6b71e0;
}

.custom-sort-dropdown .dropdown-item {
  color: black;
}



.apply-btn {
  background-color: #6b71e0 !important;
  border-color: #6b71e0;
  color: white;
}

.view-btn {
  border-color: #6b71e0;
  color: #6b71e0;
  background-color: white;
}

