.ViewPort {
  height: 92vh;
}
.nav-pills .nav-link.active {
  background-color: #6b71e036 !important;
  span {
    color: #6b71e0 !important;
  }
  i {
    color: #6b71e0 !important;
  }
}
.nav-pills li:hover {
  span {
    color: #6b71e0 !important;
  }
  i {
    color: #6b71e0 !important;
  }
}
